pandas
matplotlib
seaborn
gen3
jupyter
pretty-jupyter
lxml
lxml_html_clean
itables
setuptools
PyYAML
openpyxl
oyaml
networkx
ete3
dictionaryutils
numpy
argparse
requests
ldap3
boto3==1.26.90
botocore==1.29.90
jsonschema
papermill
python-dotenv
pytest
pytest-mock
python-dateutil