pandas
matplotlib
seaborn
gen3
jupyter
pretty-jupyter
lxml
lxml_html_clean
itables
setuptools
PyYAML
openpyxl
oyaml
networkx
ete3
dictionaryutils
numpy
argparse
requests
ldap3
boto3==1.7.84
botocore==1.10.84
jsonschema
papermill
python-dotenv
pytest
pytest-mock
shutil
python-dateutil
base64
io